<!DOCTYPE html>
<html>
<head>
	<title>Add/Edit/Delete Recipe</title>
</head>
<body>
	<h1>This Is The Edit Recipe Page</h1>
	<nav>
		<a href="/">Home</a>
		<a href="../recipes/cuisine">Cuisines</a>
		<a href="users/profile">View Profile</a>
		<a href="users/login">login/create account</a>
		<a href="/">logout</a>
	</nav>
</body>
</html>