<!DOCTYPE html>
<html>
<head>
	<title>Add/Edit/Delete Recipe</title>
</head>
<body>
	<h1>This Is The Edit Recipe Page</h1>
	<nav>
		<a href="/">Home</a>
		<a href="../recipes/cuisine">Cuisines</a>
		<a href="../users/profile">View Profile</a>
		<a href="../users/login">login/create account</a>
		<a href="/">logout</a>
	</nav>

<!-- 	<h3>ADD YOUR RECIPE:</h3>
	<form action="/recipes" method="post">
		<-- select button with contain CUISINES -->
		<!-- <select name="recipeId">
			<-- insert the for loop with recipe and enum length -->
			<!-- <option value="">
				<-- value will contain squids with %recipe and enum[i]._id% -->
				<!-- within option insert squids %recipe and enum[i].name% -->
			<!-- </option>
			 end for loop curly bracket here 
		</select>
		<input type="text" name="name" value="">
		<br/>
		<textarea name="ingredients">
			 insert squids with recipe.ingredients within textarea 
		</textarea>
		<br/>
		<textarea name="instructions">
			 insert squirds with recipe.instructions within textarea 
		</textarea>
	</form> -->


	<h3>EDIT YOUR RECIPE:</h3>
	<!-- The following form is the EDIT FORM: 
		form action will have squids "/recipe/ %recipe._id% ?_method=PUT" -->
	<form action="" method="post">
		<!-- input value will contain squids recipe.username -->
		<select name="recipeId">
			<!-- insert the for loop with recipe and enum length -->
			<option value="">
				<!-- value will contain squids with %recipe and enum[i]._id% -->
				<!-- within option insert squids %recipe and enum[i].name% -->
			</option>
			<!-- end for loop curly bracket here -->
		</select>
		<br/>
		<textarea name="ingredients">
			<!-- insert squids with recipe.ingredients within textarea -->
		</textarea>
		<br/>
		<textarea name="instructions">
			<!-- insert squirds with recipe.instructions within textarea -->
		</textarea>
		<br/>
		<input type="submit" name="Update Recipe">
	</form>

	<!-- the following with allow you to delete your recipe -->


	<main>
		<h4>
			<!-- insert squids %recipe.title% -->
		</h4>
		<section>
			<!-- action will contain "/recipes/ %=recipe._id% ?_method=DELETE" -->
			<form action="" method="post"></form>
				<button value="DELETE">DELETE</button>
		</section>
	</main>
</body>
</html>






