<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
</head>
<body>
	<h1>This Is The User's Profile Page</h1>
		<nav>
			<a href="/">Home</a>
			<a href="/recipes/cuisine">Cuisines</a>
			<a href="/users/login">login/create account</a>
			<a href="/">logout</a>
		</nav>
	<!-- User's username will go here -->


	<!-- This is the user's bio -->
	<div>
		<input type="text" name="bio">
		<button type='edit'>Edit</button>
		<button type='Submit'>Submit</button>
	</div>

	<div>
	<!-- User's image will go here and will be to the right of the username and bio -->
	</div>

	<!-- the following section is the recipes section. It will contain
	a loop displaying all of the recipes the user has posted. -->
	<section>
		<h3>Recipes Posted By You</h3>
	</section>

	<div>
		<!-- This will be a link to the edit page -->
		<a href="../users/edit">edit</a>
	</div>


</body>
</html>