<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
</head>
<body>
	<h1>This Is The User's Profile Page</h1>
	<nav>
		<a href="#">Home</a>
		<a href="#">Cuisines</a>
		<a href="users/profile">View Profile</a>
		<a href="users/login">login/create account</a>
		<a href="/">logout</a>
	</nav>
	<!-- User's username will go here -->


	<!-- This is the user's bio -->
	<div>
		<input type="text" name="bio">
		<button type='Edit'>Edit</button>
		<button type='Submit'>Submit</button>
	</div>

	<!-- User's image will go here and will be to the right of the username and bio -->
	<div>
		
	</div>

	<!--  -->

</body>
</html>